@charset "utf-8";
body {
  margin: 0;
  padding: 0;
  background-color: #cccccc;
  color: #333333;
  font-size: 15px;
  line-height: 2;
}

/* reset css */
p,h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
}

img {
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
}
/* reset css end */

.logo {
  float: left;
  margin-top: 50px;
}
.global-nav {
  float: right;
  margin-top: 60px;
}
.global-nav li {
  float: left;
  margin: 0 20px;
  font-size: 20px;
  list-style: none;
}
